.App {
  text-align: center;
  margin-top: 50px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: lightgray;
}

h2 {
  color: #4CAF50;
  margin-top: 30px;
}

input[type="radio"] {
  margin: 10px;
}
